.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}


.newContainerWidth {
width: 1410px;

}

.net .thin-left-border {
    border-left: 1px solid rgba(0,0,0,0.15);
}


.markdown {
    padding-bottom: 60px;
}



div.toc {
	padding-right: 2%;
	margin-left: 25px;
	margin-bottom: 5px;
}

@media (min-width: 1024px)
.toc {
    display: block !important;
    margin-left: 25px;
}



.toc {
    background-color: #f8f8f8;
    border: 1px solid #737373;
    border-radius: 6px;
    padding: 15px;
    float: right;
    margin-top: 5px;
    z-index: 1001;
    position: relative;
}


.net h2 {
    color: #2E2E2E;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 50px 0 8px;
}

.net h3 {
    color: #2E2E2E;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 50px 0 8px;
}


.net p{
    font-size: 14px;
    margin-top: 20px;
line-height: 22px;
 font-weight: normal;
font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.net ul li{
    margin: 10px 0px;
     font-weight:normal;
}

.net li.active {
    font-weight: bold;
}

.nofloat {
    float: none;
}

body ui li{
font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post-title-main {
    font-size: 2.5rem;
    color: #286AC7;
    margin: 30px 0;
}


code {
    padding: 2px 4px;
    font-size: 90%;
    color: #444;
    background-color: #f0f0f0;
    white-space: nowrap;
    border-radius: 4px;
}
