    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 lead">
              <br/><br/>
              <h2>About Ligato</h2>
              <br/>
                <p>Ligato is an open source project that provides a platform and code samples for development of cloud native VNFs. It incl;udes a VNF agent for VPP (FD.io) and a Service Function Chain (SFC) Controller for stitching virtual and physical networking.  </p>
                <br/>
              </div>
        </div>
    </section>
