<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">

		{% for headertitles in site.headertitles %}
                 <li>
                        {% if headertitles.type == 'scroll' %}
                        <a href="#{{headertitles.url}}"> {{headertitles.title}}</a>
                        {% else %}
                        <a href="{{home}}/{{headertitles.url}}"> {{headertitles.title}}</a>
                        {% endif %}

                </li>
		<li class="footer-menu-divider">&sdot;</li>
                {% endfor %}


                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
