/* Before use, remove this line and uncomment the next line
// ---
title: Your Template
keywords:
sidebar: docpages_sidebar
permalink: yourfilename.html
folder: mydoc
layout: pages
---

*/


Your Content here 

{% include links.html %}
